---
title: "Other Work in Progress"
permalink: /workinpgrogress/
layout: "archive"
---
{% include base_path %}
<ul>
{% for category in site.work_in_progress_categories %}
  {% for post in site.posts %}
      {% if post.category contains category %}
        <li>{{post.title}}{% if post.coauthors %}
        </br><font color = "gray">(In collaboration with: {{post.coauthors | array_to_sentence_string}}){% endif %}</font></li>
        <!--{% include archive-single.html %}-->
      {% endif %}
  {% endfor %}
{% endfor %}
</ul>
